/*
****** DESAFIO 1 ******
*/


body
{
    background-color: rgb(133, 133, 133);
}
.titulo
{
    background-color:rgba(246, 250, 6, 0.76) ;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    margin: 40px auto;
    padding: 15px 30px;
    width: 90%;
    max-width: 900px;
    text-align: center;
    border: 2px solid black;


}

#desafio-1
{
    
display: block;
}

.p1
{

    background-color:rgb(0, 0, 0) ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding:50px;
    margin:50px auto;
    width: 90%;
    max-width: 900px;
    border: 2px solid rgba(246, 250, 6, 0.76);
}

.lendario-img{
    display: block;
    margin: 0 auto; 
}


.titulo2{
background-color: rgba(246, 250, 6, 0.76);
font-size: 40px;
color: rgb(0, 0, 0);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 40px auto;
padding: 15px 30px;
width: 90%;
max-width: 900px;
text-align: center;
border: 2px solid black;

}

.p2{
background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
padding: 50px;
margin: 50px auto;
width: 90%;
max-width: 900px;
border: 2px solid rgba(246, 250, 6, 0.76);
}

.img2{
display: block;
margin: 0 auto;

}

.link1{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 40px auto;
    text-align: center;
    border: 2px solid rgba(246, 250, 6, 0.76);
   width: 90%;
     max-width: 900px;
   padding: 20px;

}

a{
text-decoration:none;

}

a:link, a:visited{
color: rgba(246, 250, 6, 0.76);
}

a:hover{
    text-decoration: underline;
}

.titulo0{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin: 40px auto ;
    text-align: center;
    border: 2px solid rgba(246, 250, 6, 0.76);
    width: 90%;
    max-width: 900px;
    padding: 20px;

}
